@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-geist-sans: 'Geist Sans', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
    font-family: var(--font-geist-mono);
}

body {
    @apply flex flex-col min-h-screen antialiased;
}

main {
    @apply flex flex-1
}

ol {
    @apply space-y-1
}

footer {
    @apply flex gap-6 flex-wrap items-center justify-center p-4 border-t dark:border-gray-700
}