@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-geist-sans: 'Geist Sans', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
    font-family: var(--font-geist-mono);
}

body {
    @apply flex flex-col min-h-screen antialiased;
}

main {
    @apply flex flex-1 m-auto w-full justify-center
}

ol {
    @apply space-y-1
}

footer {
    @apply flex gap-6 flex-wrap items-center justify-center p-4 border-t dark:border-gray-700
}
/* styles/LoadingOverlay.css */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Light white background */
    z-index: 1000;
}

.favicon-shadow {
    width: 100px;
    height: 100px;
    background-image: url('/favicon.ico');
    background-size: cover;
    animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
